Repository techxtrmst/hrms-pbs: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-debug-statements, check-env-example

.pre-commit-config.yaml:

# Pre-commit hooks configuration for HRMS PBS
# Install: pre-commit install
# Run manually: pre-commit run --all-files
# Update hooks: pre-commit autoupdate

repos:
  # Secret detection using Gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        name: Detect secrets and credentials
        description: Scan for secrets, API keys, tokens, and credentials
        stages: [pre-commit]

  # Pre-commit hooks for basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: '\.md$|\.txt$'
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.md$|\.txt$'
      - id: check-yaml
        name: Check YAML syntax
        args: ["--unsafe"] # Allow custom tags in Django templates
      - id: check-added-large-files
        name: Check for large files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-json
        name: Check JSON syntax
      - id: detect-private-key
        name: Detect private keys
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ["--fix=lf"]

  # Python-specific checks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        name: Ruff linter (with auto-fix)
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      - id: ruff-format
        name: Ruff formatter
        types_or: [python, pyi]

  # Local custom hooks for Django-specific checks
  - repo: local
    hooks:
      - id: check-debug-statements
        name: Check for debug/print statements
        entry: python scripts/check_debug_statements.py
        language: system
        types: [python]
        pass_filenames: true

      - id: django-check
        name: Django system check (manual only)
        entry: python scripts/django_checks.py
        language: system
        pass_filenames: false
        stages: [manual]

      - id: check-migrations
        name: Check for missing migrations (manual only)
        entry: python scripts/check_migrations.py
        language: system
        pass_filenames: false
        stages: [manual]

      - id: check-env-example
        name: Verify .env.example is up to date
        entry: python scripts/check_env_example.py
        language: system
        files: '^\.env\.example$|^\.env\.staging$'
        pass_filenames: false

feat: add leave history, announcement updates, dashboard improvements and multi-step form changes
  core/templates/core/admin_dashboard.html
  core/templates/core/employee_dashboard.html
  core/templates/core/manager_dashboard.html
  core/templates/core/my_leave_history.html
  core/urls.py
  core/views.py
  employees/multi_step_views.py
  employees/templates/employees/add_employee_step3.html
  employees/templates/employees/leave_dashboard.html
Due: check-debug-statements

ci: remove unnecessary pycairo system dependency install step to fix CI timeout
  .github/workflows/deploy-staging.yml
Due: none

ci: restore libcairo2-dev install without apt-get update to fix pycairo build
  .github/workflows/deploy-staging.yml
Due: none

ci: fix apt-get update with -qq flag and --fix-missing to resolve libpng-dev 404 error
  .github/workflows/deploy-staging.yml
  activity_monitoring/views.py
Due: check-debug-statements

fix: update activity monitoring dashboard template and views
  activity_monitoring/templates/activity_monitoring/dashboard.html
  activity_monitoring/views.py
Due: check-debug-statements

fix: update payroll utils, core views and payslip PDF template
  core/views.py
  employees/payroll_utils.py
  employees/templates/employees/payslip_pdf.html
Due: check-debug-statements

ci: fix deploy timeout - use compressed pg_dump with 5min limit and increase step timeout to 40m
  .github/workflows/deploy-staging.yml
Due: none

ci: remove DB backup from deploy to fix timeout - no backup for now
  .github/workflows/deploy-staging.yml
Due: none

ci: fix BACKUP_DIR references after removing backup - deployment was succeeding but failing on missing dir
  .github/workflows/deploy-staging.yml
Due: none

feat: update activity monitoring templates, urls and views
  activity_monitoring/templates/activity_monitoring/app_activity.html
  activity_monitoring/templates/activity_monitoring/browser_activity.html
  activity_monitoring/templates/activity_monitoring/dashboard.html
  activity_monitoring/urls.py
  activity_monitoring/views.py
Due: check-debug-statements

feat: update auth templates, accounts views and activity monitoring dashboard
  accounts/templates/accounts/change_password.html
  accounts/templates/accounts/login.html
  accounts/views.py
  activity_monitoring/templates/activity_monitoring/dashboard.html
  activity_monitoring/views.py
  core/templates/core/forgot_password.html
  core/templates/core/reset_password.html
  core/templates/core/verify_otp.html
Due: check-debug-statements

feat: add LocationProfessionalTax model, migration and update payroll dashboard, settings and utils
  companies/migrations/0027_locationprofessionaltax.py
  companies/models.py
  core/templates/core/payroll_dashboard.html
  core/templates/core/payroll_settings.html
  core/views.py
  employees/payroll_utils.py
Due: check-debug-statements

feat: update finance portal - dashboard, models, views, decorators, migration and email utils
  core/email_utils.py
  core/templates/core/base.html
  finance_portal/decorators.py
  finance_portal/migrations/0003_initial.py
  finance_portal/models.py
  finance_portal/templates/finance_portal/dashboard.html
  finance_portal/tests.py
  finance_portal/urls.py
  finance_portal/views.py
  hrms_core/urls.py
Due: check-debug-statements

feat: update employee dashboard, profile, holidays, base template, views, settings and context processors
  .env.example
  accounts/admin.py
  core/context_processors.py
  core/templates/core/base.html
  core/templates/core/employee_dashboard.html
  core/templates/core/employee_holidays.html
  core/templates/core/personal_home.html
  core/views.py
  employees/templates/employees/employee_profile.html
  employees/urls.py
  employees/views.py
  hrms_core/settings.py
Due: check-debug-statements, check-env-example

feat: add all birthdays/anniversaries/announcements pages, update dashboards, payslip and views
  core/templates/core/admin_dashboard.html
  core/templates/core/all_anniversaries.html
  core/templates/core/all_announcements.html
  core/templates/core/all_birthdays.html
  core/templates/core/employee_dashboard.html
  core/templates/core/leave_requests.html
  core/templates/core/personal_home.html
  core/urls.py
  core/utils.py
  core/views.py
  employees/templates/employees/employee_profile.html
  employees/templates/employees/payslip_pdf.html
  employees/views.py
  payslip_generator.py
Due: check-debug-statements

fix: update personal home template, core views, employee models and views
  core/templates/core/personal_home.html
  core/views.py
  employees/models.py
  employees/views.py
Due: check-debug-statements

feat: add migration 0039 - alter attendance status field
  employees/migrations/0039_alter_attendance_status.py
Due: check-debug-statements

fix: update personal home template and core views
  core/templates/core/personal_home.html
  core/views.py
Due: check-debug-statements

fix: update employee dashboard template and core views
  core/templates/core/employee_dashboard.html
  core/views.py
Due: check-debug-statements

feat: add payslip is_draft field, migration 0040, update finance portal dashboard and views
  employees/migrations/0040_payslip_is_draft.py
  employees/models.py
  finance_portal/templates/finance_portal/dashboard.html
  finance_portal/urls.py
  finance_portal/views.py
Due: check-debug-statements

feat: update finance portal, employee dashboard, base template, views and logging config
  core/templates/core/base.html
  core/templates/core/employee_dashboard.html
  core/views.py
  employees/views.py
  finance_portal/decorators.py
  finance_portal/templates/finance_portal/dashboard.html
  finance_portal/urls.py
  finance_portal/views.py
  hrms_core/logging_config.py
Due: check-debug-statements

fix: add AttendanceSession import, update personal home, finance portal dashboard and views
  core/templates/core/personal_home.html
  core/views.py
  finance_portal/templates/finance_portal/dashboard.html
  finance_portal/urls.py
  finance_portal/views.py
Due: check-debug-statements

feat: add support ticket system, migrations 0041-0042, update email scheduler, base template and management commands
  core/email_scheduler.py
  core/management/commands/send_birthday_anniversary_emails.py
  core/templates/core/base.html
  employees/admin.py
  employees/management/commands/accrue_monthly_leaves_by_company.py
  employees/management/commands/setup_monthly_leave_allocation.py
  employees/migrations/0041_supportticket_ticketmessage.py
  employees/migrations/0042_employee_is_support_agent.py
  employees/models.py
  employees/support_views.py
  employees/templates/employees/support_ticket_card.html
  employees/templates/employees/support_ticket_detail.html
  employees/templates/employees/support_ticket_list.html
  employees/urls.py
Due: check-debug-statements

fix: update core views
  core/views.py
Due: check-debug-statements

fix: update employee models
  employees/models.py
Due: check-debug-statements

fix: add scp upload and extract configuration in production deployment workflow
  .github/workflows/deploy-prod.yml
Due: none

fix: replace scp-action with base64 inline transfer for prod deploy
  .github/workflows/deploy-prod.yml
Due: none

fix: use GHCR image path in docker-compose for prod deploy
  docker-compose.yml
Due: none

fix: remove backup service, add migrate and collectstatic on deploy
  .github/workflows/deploy-prod.yml
  docker-compose.yml
Due: none

fix: remove backup build step and scripts from staging deploy
  .github/workflows/deploy-staging.yml
Due: none

fix: prevent 500 on personal_home for users with missing LeaveBalance or ShiftTiming
  core/views.py
Due: check-debug-statements

fix: force-stop all containers before deploy to release occupied ports
  .github/workflows/deploy-prod.yml
Due: none

fix: unquote ENVEOF heredoc so secrets expand correctly in prod .env
  .github/workflows/deploy-prod.yml
Due: none

fix: force-stop all containers in staging deploy to release occupied ports
  .github/workflows/deploy-staging.yml
Due: none

fix: remove leading spaces from .env heredoc so secrets are parsed correctly
  .github/workflows/deploy-prod.yml
Due: none

fix: use printf instead of heredoc for .env to avoid YAML syntax error
  .github/workflows/deploy-prod.yml
Due: none
